# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=""
DB_DATABASE=azuaycare_db
DB_SSL=false

# Seguridad
JWT_SECRET=AzuayCare_Seguridad_Extrema_2026_Clave_Secreta_Mantenimiento
GOOGLE_CLIENT_ID=id de gogle clud
